@tailwind base;
@tailwind components;
@tailwind utilities;
:root { font-family: 'Montserrat', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Montserrat', sans-serif; }
}




:root {
  --astro-code-color-text: #a1affc;
  --astro-code-color-background: #191a29;
  --astro-code-token-constant: #ffffff70;
  --astro-code-token-string: #42517e;
  --astro-code-token-comment: #ffffff80;
  --astro-code-token-keyword: #ffffff70;
  --astro-code-token-parameter: #1ab8d2;
  --astro-code-token-function: #8E6FE9;
  --astro-code-token-string-expression: #ffffff;
  --astro-code-token-punctuation: #ffffff80;
  --astro-code-token-link: #ffffff;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.6em 0.6em -0.4em rgb(255,33,179,.6);
  transform: translateY(-0.25em);
  transition: 0.3s;
  
}

.pulse:hover, 
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}